<!DOCTYPE html>
<html lang="de" dir="ltr">

<head>
    <meta charset="utf-8">
    <base href="{{ .config.BaseURL }}">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <meta name="description" content="Gomark - A versatile bookmark manager">
    <meta name="robots" content="index, follow" />

    <meta property="og:description" content="Gomark - A versatile bookmark manager">
    <meta property="og:title" content="Gomark | Home" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ .config.BaseURL }}" />
    <meta property="og:image" content="" />

    <title>Gomark | Home</title>

    <link rel="apple-touch-icon" sizes="57x57" href="assets/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="assets/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="/css/app.min.css">
</head>

<body data-barba="wrapper">
    <nav class="side">
        <div class="bookmarks">
            <ul>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="recent">Recent</a>
                </li>
                <li>
                    <a href="shared">Shared</a>
                </li>
                <li>
                    <a href="notes">Notes</a>
                </li>
            </ul>
        </div>
        <div class="settings">
            <ul>
                <li>
                    <a href="settings">Settings</a>
                </li>
                <li>
                    <a href="admin">Administration</a>
                </li>
            </ul>
        </div>
        <div class="auth"></div>
    </nav>
    <header>
        <div class="menu">
            <i class="material-icons">menu</i>
        </div>
        <div class="headline">
            <h1>Bookmarks</h1>
        </div>
        <div class="slider">
            <span>Home</span>
            <span>All</span>
            <div class="bg"></div>
        </div>
    </header>
    <main data-barba="container" data-barba-namespace="home">
        <div class="wrapper gomark_home">
            <div class="wrapper gomark_most_used">
                <h2>Most used bookmarks</h2>
            </div>
            <div class="wrapper gomark_recently_added">
                <h2>Recent bookmarks</h2>
                {{ range .bookmarks }} {{ template "entity/bookmark" . }} {{ end }}
            </div>
        </div>
        <div class="wrapper gomark_all">
            <div class="gomark_folders"></div>
            <div class="gomark_bookmarks">
                {{ range .bookmarks }} {{ template "entity/bookmark" . }} {{ end }}
            </div>
        </div>
    </main>
    {{ template "footer/footer" }}
</body>

</html>