body,
html {
    width: 100%;
    height: auto;
    margin: 0;
    font-size: 10px;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    font-style: normal;
}
