header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 20px 20px 10px 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: $g-2;

    .menu {
        height: 24px;
        width: 24px;

        i {
            color: $w;
        }
    }

    .headline {
        margin: 0 0 0 30px;
        color: $w;
        flex: 0 0 80%;
    }

    .slider {
        position: relative;
        background-color: $g-3;
        border-radius: 15px;
        margin: 15px 0 0 0;
        cursor: pointer;

        span {
            position: relative;
            display: inline-block;
            font-size: 1.5rem;
            line-height: 1.5rem;
            color: $w;
            font-weight: 400;
            padding: 7.5px 15px;
            z-index: 2;
        }

        .bg {
            position: absolute;
            width: 70px;
            height: 100%;
            top: 0;
            left: 0;
            border-radius: 15px;
            background-color: $g-1;
            z-index: 1;
        }
    }
}
