nav.side {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 80vw;
    z-index: 10;
    background-color: $g-2;
    opacity: 0;
    transform: translateX(-100%);

    &::after {
        // content: "";
        position: absolute;
        height: 100%;
        width: 20vw;
        top: 0;
        left: 100%;
        background-color: $g-4;
        opacity: 0.8;
    }

    &.open {
        opacity: 1;
        transform: translateX(0%);
    }
}
