{{define "nav/side"}}
<nav class="side">
    <div class="nav_home">
        <a href="/" name="Home" title="Home">
            <i class="material-icons">home</i>
        </a>
    </div>
    <div class="nav_recent">
        <a href="/recent" name="Recent bookmarks" title="Recent bookmarks">
            <i class="material-icons">playlist_add</i>
        </a>
    </div>
    <div class="nav_bookmarks">
        <a href="/bookmarks" name="All bookmarks" title="All bookmarks">
            <i class="material-icons">playlist_add_check</i>
        </a>
    </div>
    <div class="nav_shared">
        <a href="/shared" name="Shared bookmarks" title="Shared bookmarks">
            <i class="material-icons">share</i>
        </a>
    </div>
</nav>
{{end}}
